body
    font-family: sans-serif

.container
    max-width: 1170px
    margin: auto

.button
    color: $text-color
    font-size: 13px
    font-weight: 400
    border-radius: 10px
    background-color: $btn-color
    border: none
    cursor: pointer
    outline: none
    &:hover
        background-color: $btn-hover
    &:active
        background-color: $btn-active
